@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: #e11e63;
}

.container {
  max-width: 95%;
  margin: auto;
}

.shadow {
  box-shadow: 0 20px 27px 0px #0000000d !important;
}
.shadow-lg {
  box-shadow: 3px -2px 20px 0px #0000000c, 0px 4px 20px 0px #0000000c !important;
}

@media only screen and (min-width: 1250px) {
  .container {
    max-width: 1200px;
  }
}

/* ---------- Home Hero CSS -------------- */
.slider img {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .slider {
    width: calc(100% - 256px);
  }

  .slider img {
    height: 322px;
  }
}

.categoryDropdown,
.categorySubDropdown {
  display: none;
}

.category li:hover .categoryDropdown {
  display: block !important;
}
.categoryDropdown li:hover .categorySubDropdown {
  display: block !important;
}

.hover-go:hover svg {
  padding-left: 5px;
}

.product-card:hover img {
  transform: scale(1.1);
}

.shopPages .ShopCategory::-webkit-scrollbar{
  display:none;
}

.shopPages .ShopProducts{
  width: calc(100% - 288px);
}

.dropdown {
  max-height: 0px;
  overflow: hidden;
  display: none;

  transition: max-height 0.3s;
}

.dropdownShow {
  max-height: max-content;
  display: block;
}
.category-wrap::-webkit-scrollbar {
  width: 3px;
}
.category-wrap::-webkit-scrollbar-thumb {
  background: #ddd;
}


/* Account page */
.accountSidebar::-webkit-scrollbar{
  display:none;
}
.accountContent{
  width: calc(100% - 240px);
}


.rb-tabs-active-item {
  background: #e11e63 !important;
}


/* Sweet alert 2 custom style */
h2#swal2-title {
    font-size: 18px;
}

div#swal2-html-container {
    font-size: 15px;
}

.swal2-icon.swal2-warning.swal2-icon-show {
    width: 50px !important;
    height: 50px !important;
}

.swal2-icon-content {
    font-size: 35px !important;
}

button.swal2-confirm.swal2-styled {
    background: #e11e63 !important;
}

button:where(.swal2-styled).swal2-confirm:focus {
    box-shadow: none !important;
}






/*--------- Loading Effect -------------*/
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #e11e63;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}